@font-face {
  font-family: "Samarkan";
  font-weight: 900;
  src: local("Samarkan"),
    url(../assets/fonts/samarkan-font/SamarkanNormal-Gg5D.ttf)
      format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.about > h4 {
  padding-left: 3rem;
  font-size: 2.9rem;
  color: #011627;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-title {
  padding-left: 3rem;
  padding-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container > img {
  width: 65%;
  height: 100%;
}



.button > a {
  text-decoration: none;
}

.button > a > p {
  border: 1.7px solid #ff9f1c;
  background-color: transparent;
  width: 12rem;
  height: 2.8rem;
  color: #011627;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-decoration-line: none;
}

.button > a > p:hover {
  background-color: #ff9f1c;
  color: white;
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
}

.about-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 4rem;
  /* margin-top: 2rem; */

}

.about-btns button {
  width: 12rem;
  height: 2.8rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ff9f1c;
  color: white;

}

@media (max-width: 480px) {
  .about > h4 {
    font-size: 2.3rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .social-title {
    font-size: 1.1rem;
    margin-right: 2rem;
  }

  .button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
