@font-face {
  font-family: "Samarkan";
  font-weight: 900;
  src: local("Samarkan"),
    url(../assets/fonts/samarkan-font/SamarkanNormal-Gg5D.ttf)
      format("truetype");
}
@font-face {
  font-family: "motordam";
  font-weight: 900;
  src: local("motordam"),
    url(../assets/fonts/motterdaam-font/Motterdam-K74zp.ttf)
      format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+Devanagari&family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.main {
  height: 100vh;
  display: flex;
  align-items: center;
}

.main.colorchange {
  background-color: white;
  animation-name: fadeUp;
  animation-duration: 2s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  50% {
    opacity: 10;
    transform: translateY(0px);
  }

  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

.main > h1 {
  padding-left: 3rem;
  /* position: relative; */
  /* top: 20%; */
  font-size: 10rem;
  animation-name: moveUp;
  animation-duration: 2s;
  color: black;
  width: auto;
  font-family: "Poppins", sans-serif;
}

@keyframes moveUp {
  /* 0% {
    opacity: 0;
    transform: translateY(100px);
  } */

  /* 80% {
        transform: translateY(10px);

    } */

  /* 100% {
    opacity: 1;
    transform: translate(0);
  } */
}

.hello {
  -webkit-text-stroke: 1px royalblue;
  color: transparent;
  font-family: "Poppins", sans-serif;
}

.dot {
  color: royalblue;
}

.main > h3 {
  /* padding-left: 3rem; */
  /* position: relative; */
  /* top: 20%; */
  width: 50%;
  animation-name: moveUp;
  animation-duration: 3s;
}

.main-para {
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans Devanagari", sans-serif;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
}

.buttons {
  margin-left: 3rem;
  /* position: relative; */
  top: 25%;
}

@media (max-width: 480px) {
  .main {
    height: 90vh;
  }

  .main > h1 {
    font-size: 5rem;
  }

  .main > h3 {
    font-size: 1.4rem;
    width: 100%;
    padding-right: 2rem;
  }
}
