@import url("https://fonts.googleapis.com/css2?family=My+Soul&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&family=My+Soul&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@font-face {
  font-family: "Samarkan";
  font-weight: 900;
  src: local("Samarkan"),
    url(../assets/fonts/samarkan-font/SamarkanNormal-Gg5D.ttf)
      format("truetype");
}

@font-face {
  font-family: "mottordam";
  font-weight: 900;
  src: local("mottordam"),
    url(../assets/fonts/motterdaam-font/Motterdam-K74zp.ttf)
      format("truetype");
}

.navbar-container {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  /* height: 14vh; */
  color: white;
}
.menu {
  border: none;
  background: transparent;
}

.logo {
  font-size: 2rem;
  padding-left: 2rem;
  color: black;
  font-family: "Yellowtail" , cursive;
}

.nav-links {
  color: black;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding-right: 4rem;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  cursor: pointer;
}
.menu-collapse {
  padding-left: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.4rem;
    padding-left: 1rem;
  }
}
