@font-face {
    font-family: 'Samarkan';
    font-weight: 900;
    src: local('Samarkan'), url(../assets/fonts/samarkan-font/SamarkanNormal-Gg5D.ttf) format('truetype');
  }
.work>h4{
    margin-top: 3rem;
    padding-left: 3rem;
    font-size: 3rem;
    -webkit-text-stroke: 1.5px royalblue;
    color: transparent;
    font-family: 'Samarkan', Arial, Helvetica, sans-serif;
}

.work-card{
    margin: 3rem;
}

.card-cont{
    margin-bottom: 3rem;
}

.card-decor{
    border: 1.5px solid royalblue;
}

@media (max-width:480px){
    .work>h4{
        font-size: 2.5rem;
    }

}